<h1> New Question </h1>

<div class='span-10'>
  <%= form_for(@question, :url => survey_admin_questions_path(@question)) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>

  <%= link_to 'Back to List', survey_admin_questions_path, :class => 'button' %>
</div>
<div class='clearfix'></div>