<h1> New Property </h1>

<%= form_for @survey_property, :url => survey_admin_survey_properties_path(@survey_property) do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Create' , :class => 'button' %></div>
<% end %>

<p><%= link_to "Back to List", survey_admin_survey_properties_path, :class => 'button' %></p>
